  <main class="main-denuncia">
    <section class="sessao-denuncia denuncia-selecionada">
      
      <div class="imagem" style="background-image: url('/uploads/<%=denuncia.imagem%>');" data-toggle="modal"
        data-target=".modal-imagem-lg">
      </div>
      
      <div class="form-goup em-linha">
        <label for="cidade"><strong>Descrição</strong></label>
        <input type="text" name="descricao" id="descricao" value="<%=denuncia.descricao%>" readonly class="fonte-media">
      </div>
      
      <div class="form-goup em-linha">
        <label for="endereco" class="endereco-map"><strong>Endereço</strong>
        <span class="map-pin"><a href="https://www.google.com/maps/place/<%=denuncia.endereco%>, <%=denuncia.bairro%>,
              <%=denuncia.cidade%>-<%=denuncia.estado%>"><i class="fas fa-map-marker-alt"></i></a></span>
        </label>
        <textarea name="endereco" id="endereco" readonly class="fonte-media"
          rows="3"><%=denuncia.endereco%>, <%=denuncia.bairro%>, <%=denuncia.cidade%>-<%=denuncia.estado%></textarea>
      </div>
      
      <div class="form-goup em-linha">
        <label for="status"><strong>Status</strong></label>
        <input type="text" name="status" id="status" readonly class="fonte-media"
          value="<%=denuncia.status%>">
        <p class="data-hora">Em: <%=denuncia.data%></p>
      </div>
      
      <a href="/users" class="btn-voltar"><i class="fas fa-chevron-left"></i> <span class="texto">Voltar</span></a>
      
    </section>
  </main>